---
title: CryptoParty Adelaide - Australia
description: A party to celebrate cryptography and help you keep your privacy on-line.
keywords: cryptoparty, crypto, cryptography, party, adelaide, australia, south australia, privacy, installfest, fun
---

<!-- Hello -->
<div class="container home">

	<div class="header">

		<a href="index.html"><img src="images/cryptoparty-logo-400px.png" width="200" alt="CryptoParty Adelaide, Australia" title="CryptoParty Adelaide, Australia"></a>

		<h1>CryptoParty Adelaide</h1>
		<h2>June 27th, 11am - 6pm</h2>

		<p class="social">
			<a href="https://twitter.com/cryptoadl"><i class="fa fa-twitter"></i></a> 
			<a href="https://facebook.com/cryptoadl"><i class="fa fa-facebook-square"></i></a> 
			<a href="https://instagram.com/cryptoadl"><i class="fa fa-instagram"></i></a>
			<a href="https://keybase.io/cryptoadl"><i class="fa fa-key"></i></a>
			<a href="https://github.com/cryptoadl"><i class="fa fa-github"></i></a>
			<a href="https://CryptoParty.org"><i class="fa fa-heart-o"></i></a>
		</p>

	</div>

	<div class="content">
		
		<h3>What happens?</h3>

		<form action="https://www.eventbrite.com/e/cryptoparty-adelaide-tickets-16746633632" class="book-ticket pull-right"><button type="submit">Book a ticket</button></form>

		<p>Bring a laptop, smartphone or tablet and join us for Adelaide’s second CryptoParty. Open to all, learn about cryptography software such as <a href="https://www.torproject.org">Tor - The Onion Router</a>, <a href="https://en.wikipedia.org/wiki/Pretty_Good_Privacy">PGP - Pretty Good Privacy</a>, <a href="https://en.wikipedia.org/wiki/Public-key_cryptography">Public Key Cryptography</a>, <a href="https://en.wikipedia.org/wiki/Virtual_private_network">VPNs - Virtual Private Networks</a> and <a href="https://en.wikipedia.org/wiki/Off-the-Record_Messaging">OTR - Off The Record messaging</a>, as well as other helpful applications and tips.</p>

		<p>The party will be opened by a friendly group of cypherpunks who’ll explain what cryptography is, and how it’ll help you protect your privacy on-line and avoid data retention. They’ll be followed by three special guest speakers, and an install festival where we’ll help you install and use the crypto software you’ve just learned about.</p>

		<p>We’ll then all take a collective deep breath and end with some good fun party times thanks to a chiptune performance by <a href="http://little-scale.blogspot.com.au">little-scale</a>.</p>

		<p>Pizza &amp; drinks provided, but feel free to BYO.</p>

		<hr>

		<h3>Schedule</h3>

		<ul class="schedule">
			<li><b>11:00am</b> Welcome to the CryptoParty</li>
			<li><b>11:15am</b> Introduction to cryptography software</li>
			<li><b>12:00pm</b> WhisperNote talk</li>
			<li><b>12:30pm</b> The Dark Net talk</li>
			<li><b>1:00pm</b> Bitcoin talk</li>
			<li><b>1:30pm</b> Lunch</li>
			<li><b>2:30pm</b> Install cryptography software on your devices</li>
			<li><b>4:30pm</b> Drinks &amp; key exchange</li>
			<li><b>5:00pm</b> Performance by <a href="http://little-scale.blogspot.com.au">little-scale</a></li>
			<li><b>6:00pm</b> Shutdown</li>
		</ul>

		<hr>

		<h3>Guest speakers</h3>

		<div class="speakers">

			<div class="speaker">
				
				<a href="https://www.consunet.com.au/products/whispernote/"><img src="images/kuba-bw.png"></a>
				<h4><a href="https://www.consunet.com.au/products/whispernote/">WhisperNote</a></h4>
				<h5>Kuba Kabacinski</h5>
				
				<p>Local IT entrepreneur talks about why apps like WhisperNote are important for the future of web security.</p>
	
			</div>

			<div class="speaker">
				
				<a href="http://allthingsvice.com"><img src="images/eileen-bw.png"></a>
				<h4><a href="http://allthingsvice.com">The Dark Net</a></h4>
				<h5>Eileen Ormsby</h5>
				
				<p>Author of 'Silk Road', Eileen describes how to be safe and secure on the dark net.</p>
	
			</div>

			<div class="speaker">
				
				<a href="http://rusty.ozlabs.org"><img src="images/rusty-bw.png"></a>
				<h4><a href="http://rusty.ozlabs.org">Bitcoin</a></h4>
				<h5>Rusty Russell</h5>
				
				<p>Open Source developer talks about his move to Bitcoin, and the future of scaling fast micropayments.</p>
	
			</div>

		</div> <!-- END Speakers -->

		<hr>

		<h3>Book a ticket</h3>

		<p>To guarantee a place at the Adelaide CryptoParty, sign up to Eventbrite and book your CryptoParty ticket. If you wish to remain pseudonymous, use a fake name when signing up. If you wish to remain completely anonymous, sign up with a fake name and throw-away e-mail address. Else if you’d prefer to avoid Eventbrite entirely, just turn up on the day and try your luck. :-)</p>

		<p>We've reached capacity, so either join the wait list for any cancellations, or turn up and cross your fingers on the day.</p>

		<form action="https://www.eventbrite.com/e/cryptoparty-adelaide-tickets-16746633632"><button type="submit">Book a ticket</button></form>

		<hr>

		<h3>Where</h3>

		<p><a href="http://majoran.co">Majoran Distillery</a>, Level 2/14 Grenfel Street, Adelaide.</p>

		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3271.292041784669!2d138.60029699999996!3d-34.92421199999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ab0ced64be0f9b1%3A0x6d253bda923654f7!2sMajoran!5e0!3m2!1sen!2sau!4v1432480192680" width="100%" height="350" frameborder="0" style="border:0"></iframe>

		<hr>

		<h3>Contact us</h3>

		<p>Email us at <b>cryptoadl (at) riseup.net</b> or use your favourite social network below.</p>

		<p><i class="fa fa-key"></i> <a href="https://keybase.io/cryptoadl">18ED 66A3 4969 AF80</a></p>

		<hr>

		<h3>Posters</h3>

		<p>If you have access to a printer, it'd be great if you printed a poster and put it up in your workplace or favourite public space.</p>

		<div class="posters">
			<a href="images/cryptoparty-adelaide-poster-1.pdf" target="_blank"><img src="images/cryptoparty-adelaide-poster-1-560px.png" alt="CryptoParty Adelaide Poster" title="CryptoParty Adelaide Poster"></a>
			<a href="images/cryptoparty-adelaide-poster-2.pdf" target="_blank"><img src="images/cryptoparty-adelaide-poster-2-560px.png" alt="CryptoParty Adelaide Poster" title="CryptoParty Adelaide Poster"></a>
			<a href="images/cryptoparty-adelaide-poster-3.pdf" target="_blank"><img src="images/cryptoparty-adelaide-poster-3-560px.png" alt="CryptoParty Adelaide Poster" title="CryptoParty Adelaide Poster"></a>
		</div>

		<hr>

		<h3>Code of conduct</h3>

		<p>The following is a list of advice for CryptoParty attendees in the hopes of keeping discussion seamless, informative and on point.</p>

		<ul>
			<li>TRY to listen and respect the moderator</li>
			<li>TRY to give explanations and avoid acronyms</li>
			<li>DON’T interrupt someone speaking</li>
			<li>DON’T preach about organization or affiliation: we don’t care</li>
			<li>DON’T infringe on a member’s privacy</li>
			<li>DON’T gloat about your technical prowess</li>
			<li>DON’T assume anyone knows what you’re referring to: explain yourself</li>
			<li>DON’T monopolize the conversation</li>
			<li>DO show respect for the women &amp; men who grace us</li>
			<li>DO be courteous and excellent to each other</li>
			<li>DO be respectful of the venue of the meeting or event</li>
		</ul>

		<hr>

		<h3>Thanks to support from</h3>

		<div class="sponsors">
			<p><a href="http://majoran.co" target="_blank"><img src="images/majoran-logo.png" alt="Majoran Distillery" title="Majoran Distillery"></a> <a href="http://www.aspitech.com.au" target="_blank"><img src="images/aspitech-logo.png" alt="Aspitech" title="Aspitech"></a> <a href="http://hackadl.org" target="_blank"><img src="images/hackerspace-adelaide-logo.png" alt="Hackerspace Adelaide" title="Hackerspace Adelaide"></a></p>
		</div>

	</div>

	<footer>
		<p>
			<a href="https://twitter.com/cryptoadl"><i class="fa fa-twitter"></i></a> 
			<a href="https://facebook.com/cryptoadl"><i class="fa fa-facebook-square"></i></a> 
			<a href="https://instagram.com/cryptoadl"><i class="fa fa-instagram"></i></a>
			<a href="https://keybase.io/cryptoadl"><i class="fa fa-key"></i></a>
			<a href="https://github.com/cryptoadl"><i class="fa fa-github"></i></a>
		</p>
		<p><a href="https://CryptoParty.org"><i class="fa fa-heart-o"></i></a></p>
</footer>

</div>