---
title: CryptoParty Adelaide - Australia
description: A party to celebrate cryptography and help you keep your privacy on-line.
keywords: cryptoparty, crypto, cryptography, party, adelaide, australia, south australia, privacy, installfest, fun
---

<!-- Hello -->
<div class="container home">

	<div class="header">

		<a href="index.html"><img src="images/cryptoparty-logo-400px.png" width="200" alt="CryptoParty Adelaide, Australia" title="CryptoParty Adelaide, Australia"></a>

		<h1>CryptoParty Adelaide</h1>
		<h2>Another party coming soon...</h2>

		<p class="social">
			<a href="https://twitter.com/cryptoadl"><i class="fa fa-twitter"></i></a> 
			<a href="https://facebook.com/cryptoadl"><i class="fa fa-facebook-square"></i></a> 
			<a href="https://instagram.com/cryptoadl"><i class="fa fa-instagram"></i></a>
			<a href="https://keybase.io/cryptoadl"><i class="fa fa-key"></i></a>
			<a href="https://github.com/cryptoadl"><i class="fa fa-github"></i></a>
			<a href="https://keybase.io/cryptoadl"><i class="fa fa-bitcoin"></i></a>
			<a href="https://CryptoParty.org"><i class="fa fa-heart-o"></i></a>
		</p>

	</div>

	<div class="content">

		<h3>Thanks for coming!</h3>

		<p>News and details about some follow up smaller CryptoParty software workshops are coming soon... so follow <a href="https://twitter.com/cryptoadl">@cryptoadl</a> on twitter for updates, or keep checking back here.</p>

		<p>We'll also publish a page of links soon with software and services to start with. In the meantime, have a browse through the <a href="https://ssd.eff.org">EFF's Surveillance Self-Defense</a>.</p>

		<p>If you're looking for a VPN, check <a href="https://docs.google.com/spreadsheets/d/1FJTvWT5RHFSYuEoFVpAeQjuQPU4BVzbOigT0xebxTOw/htmlview?sle=true#">this amazing VPN list</a> by <a href="https://twitter.com/ThatPrivacyGuy">@ThatPrivacyGuy</a>. Services are rated by 'Fourteen eyes' jurisdiction, logging, activism, configuration, availability, business practices, encryption, cookies &amp; price. ++</p>

		<p>Cheers, <br>CryptoParty Adelaide crew.</p>

		<hr>

		<h3>Archive of previous CryptoParty Adelaide events</h3>

		<ul>
			<li><a href="http://besva.de/mirror-cryptoparty.org/wiki/Adelaide.html"><b>#1</b> at the State Library</a> (23rd Sept, 2012)</li>
			<li><a href="2015-06-27.html"><b>#2</b> at Majoran Distillery</a> (27th June, 2015)</li>
			<li><a href="2015-10-13.html"><b>#3</b> at Format Adelaide</a> (13th October, 2015)</li>
		</ul>

		<hr>
		
		<h3>What happens at a CryptoParty?</h3>

		<p>Bring a laptop, smartphone or tablet and join us for an Adelaide CryptoParty. Open to all, learn about cryptography software such as <a href="https://www.torproject.org">Tor - The Onion Router</a>, <a href="https://en.wikipedia.org/wiki/Pretty_Good_Privacy">PGP - Pretty Good Privacy</a>, <a href="https://en.wikipedia.org/wiki/Public-key_cryptography">Public Key Cryptography</a>, <a href="https://en.wikipedia.org/wiki/Virtual_private_network">VPNs - Virtual Private Networks</a> and <a href="https://en.wikipedia.org/wiki/Off-the-Record_Messaging">OTR - Off The Record messaging</a>, as well as other helpful applications and tips.</p>

		<p>The party will be opened by a friendly group of cypherpunks who’ll explain what cryptography is, and how it’ll help you protect your privacy on-line and avoid data retention. Then we'll follow up with an install festival where we’ll help you install and use the crypto software you’ve just learned about.</p>

		<p>Pizza &amp; drinks are provided, but feel free to BYO.</p>

		<hr>

		<h3>Contact us</h3>

		<p>Email us at <b>cryptoadl (at) riseup.net</b> or use your favourite social network below.</p>

		<p><i class="fa fa-key"></i> <a href="https://keybase.io/cryptoadl">18ED 66A3 4969 AF80</a></p>

		<p>If you'd like to make a donation to keep the CryptoParties going:</p>

		<p><i class="fa fa-bitcoin"></i> <a href="https://keybase.io/cryptoadl">1J6Qe2mX7owGnZXhfxMPyAWB42kYJoc8PH</a></p>

		<hr>

		<h3>Code of conduct</h3>

		<p>The following is a list of advice for CryptoParty attendees in the hopes of keeping discussion seamless, informative and on point.</p>

		<ul>
			<li>TRY to listen and respect the moderator</li>
			<li>TRY to give explanations and avoid acronyms</li>
			<li>DON’T interrupt someone speaking</li>
			<li>DON’T preach about organization or affiliation: we don’t care</li>
			<li>DON’T infringe on a member’s privacy</li>
			<li>DON’T gloat about your technical prowess</li>
			<li>DON’T assume anyone knows what you’re referring to: explain yourself</li>
			<li>DON’T monopolize the conversation</li>
			<li>DO show respect for the women &amp; men who grace us</li>
			<li>DO be courteous and excellent to each other</li>
			<li>DO be respectful of the venue of the meeting or event</li>
		</ul>

		<hr>

		<h3>Thanks to support from</h3>

		<div class="sponsors">
			<p><a href="http://majoran.co" target="_blank"><img src="images/majoran-logo.png" alt="Majoran Distillery" title="Majoran Distillery"></a> <a href="http://www.aspitech.com.au" target="_blank"><img src="images/aspitech-logo.png" alt="Aspitech" title="Aspitech"></a> <a href="http://hackadl.org" target="_blank"><img src="images/hackerspace-adelaide-logo.png" alt="Hackerspace Adelaide" title="Hackerspace Adelaide"></a></p>
		</div>

		<p>CryptoParty Adelaide is completely run and funded by volunteers, so if you'd like it to continue, we need your help to run the next one!</p>

	</div>

	<footer>
		<p>
			<a href="https://twitter.com/cryptoadl"><i class="fa fa-twitter"></i></a> 
			<a href="https://facebook.com/cryptoadl"><i class="fa fa-facebook-square"></i></a> 
			<a href="https://instagram.com/cryptoadl"><i class="fa fa-instagram"></i></a>
			<a href="https://keybase.io/cryptoadl"><i class="fa fa-key"></i></a>
			<a href="https://github.com/cryptoadl"><i class="fa fa-github"></i></a>
			<a href="https://keybase.io/cryptoadl"><i class="fa fa-bitcoin"></i></a>
		</p>
		<p><a href="https://CryptoParty.org"><i class="fa fa-heart-o"></i></a></p>
</footer>

</div>