---
title: CryptoParty Adelaide - Australia
description: A party to celebrate cryptography and help you keep your privacy on-line.
keywords: cryptoparty, crypto, cryptography, party, adelaide, australia, south australia, privacy, installfest, fun
---

<!-- Hello -->
<div class="container home">

	<div class="header">

		<a href="index.html"><img src="images/cryptoparty-logo-400px.png" width="200" alt="CryptoParty Adelaide, Australia" title="CryptoParty Adelaide, Australia"></a>

		<h1>CryptoParty Adelaide</h1>
		<h2>Tuesday 13th October, 6pm - 9pm</h2>

		<p class="social">
			<a href="https://twitter.com/cryptoadl"><i class="fa fa-twitter"></i></a> 
			<a href="https://facebook.com/cryptoadl"><i class="fa fa-facebook-square"></i></a> 
			<a href="https://instagram.com/cryptoadl"><i class="fa fa-instagram"></i></a>
			<a href="https://keybase.io/cryptoadl"><i class="fa fa-key"></i></a>
			<a href="https://github.com/cryptoadl"><i class="fa fa-github"></i></a>
			<a href="https://keybase.io/cryptoadl"><i class="fa fa-bitcoin"></i></a>
			<a href="https://CryptoParty.org"><i class="fa fa-heart-o"></i></a>
		</p>

	</div>

	<div class="content">

		<h3>Data-retention commiseration party</h3>

		<form action="https://drc-cryptoparty.eventbrite.com" class="book-ticket pull-right"><button type="submit">Book a ticket</button></form>

		<p>Bring a laptop, smartphone or tablet and join us to commiserate the <a href="https://www.ag.gov.au/NationalSecurity/DataRetention/Pages/Industry-Implementation-of-data-retention.aspx">implementation day of the data retention scheme</a>. Open to all, learn about cryptography software such as <a href="https://www.torproject.org">Tor - The Onion Router</a>, <a href="https://en.wikipedia.org/wiki/Pretty_Good_Privacy">PGP - Pretty Good Privacy</a>, <a href="https://en.wikipedia.org/wiki/Public-key_cryptography">Public Key Cryptography</a>, <a href="https://en.wikipedia.org/wiki/Virtual_private_network">VPNs - Virtual Private Networks</a> and <a href="https://en.wikipedia.org/wiki/Off-the-Record_Messaging">OTR - Off The Record messaging</a>, as well as other helpful applications and tips.</p>

		<form action="https://www.facebook.com/events/926127367454046/926293887437394/" class="book-ticket pull-right"><button type="submit">Invite friends</button></form>

		<p><strong>Thanks to the lovely people at <a href="https://cryptostorm.is">cryptostorm.is</a>, we have seven x 3month VPN tokens to give away. So arrive early!</strong></p>

		<p>Beer and wine will be available on the night.</p>

		<hr>

		<h3>Where</h3>

		<p><a href="http://format.net.au">Format</a>, 80 Hindley Street, Adelaide.</p>

		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3271.338408993882!2d138.59653799999998!3d-34.923048900000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ab0cf2854932751%3A0x3f82799b7b83cc5e!2sFormat!5e0!3m2!1sen!2sau!4v1444271959197" width="100%" height="350" frameborder="0" style="border:0"></iframe>

		<hr>

		<h3>Archive of previous CryptoParty Adelaide events</h3>

		<ul>
			<li><a href="http://besva.de/mirror-cryptoparty.org/wiki/Adelaide.html"><b>#1</b> at the State Library</a> (23rd Sept, 2012)</li>
			<li><a href="2015-06-27.html"><b>#2</b> at Majoran Distillery</a> (27th June, 2015)</li>
		</ul>

		<hr>

		<h3>Contact us</h3>

		<p>Email us at <b>cryptoadl (at) riseup.net</b> or use your favourite social network below.</p>

		<p><i class="fa fa-key"></i> <a href="https://keybase.io/cryptoadl">18ED 66A3 4969 AF80</a></p>

		<p>If you'd like to make a donation to keep the CryptoParties going:</p>

		<p><i class="fa fa-bitcoin"></i> <a href="https://keybase.io/cryptoadl">1J6Qe2mX7owGnZXhfxMPyAWB42kYJoc8PH</a></p>

		<hr>

		<h3>Code of conduct</h3>

		<p>The following is a list of advice for CryptoParty attendees in the hopes of keeping discussion seamless, informative and on point.</p>

		<ul>
			<li>TRY to listen and respect the moderator</li>
			<li>TRY to give explanations and avoid acronyms</li>
			<li>DON’T interrupt someone speaking</li>
			<li>DON’T preach about organization or affiliation: we don’t care</li>
			<li>DON’T infringe on a member’s privacy</li>
			<li>DON’T gloat about your technical prowess</li>
			<li>DON’T assume anyone knows what you’re referring to: explain yourself</li>
			<li>DON’T monopolize the conversation</li>
			<li>DO show respect for the women &amp; men who grace us</li>
			<li>DO be courteous and excellent to each other</li>
			<li>DO be respectful of the venue of the meeting or event</li>
		</ul>

		<hr>

		<h3>Volunteer run</h3>

		<p>CryptoParty Adelaide is completely run and funded by volunteers, so if you'd like it to continue, we need your help to run the next one!</p>

	</div>

	<footer>
		<p>
			<a href="https://twitter.com/cryptoadl"><i class="fa fa-twitter"></i></a> 
			<a href="https://facebook.com/cryptoadl"><i class="fa fa-facebook-square"></i></a> 
			<a href="https://instagram.com/cryptoadl"><i class="fa fa-instagram"></i></a>
			<a href="https://keybase.io/cryptoadl"><i class="fa fa-key"></i></a>
			<a href="https://github.com/cryptoadl"><i class="fa fa-github"></i></a>
			<a href="https://keybase.io/cryptoadl"><i class="fa fa-bitcoin"></i></a>
		</p>
		<p><a href="https://CryptoParty.org"><i class="fa fa-heart-o"></i></a></p>
</footer>

</div>